body{
  font-size: 18px;
  font-family: Helvetica;
}
.container{
  max-width:960px;
  margin:0 auto;
}
.black{
  background-color: black;
  color:white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.logo{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1.0rem;
  vertical-align: middle;
}
.main{
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}
.banner{
  background-color: black;
  color:white;
  width: 20rem;
  padding:2rem 3rem;
  top: 9rem;
  position: relative;
}
.banner h1{
  font-weight: bold;
  font-size: 2rem;
}
.baner h2{
  font-weight: bold;
  font-size: 1rem;
  margin: 0.25rem 0;
}
.red{
  background-color: firebrick;
  color:white;
}
nav.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
}
nav a{
  text-decoration: none;
  color:white;
}
.products{
  display: flex;
  justify-content: space-between;
  margin-top:3rem;
}
.product{
  width:30%;
}
.product-image{
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img{
  max-width:8em;
}
.product span{
  display:block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}
.location-hours{
  display: flex;
  margin-top:3rem;
  margin-bottom: 4rem;
  justify-content: space-between;
  align-items: center;
}
.location, .hours{
    width: 35%;
}
.location h2, .hours h2{
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
footer{
  height:5rem;
  background-color: black;
  color: white;
  line-height: 80px;
}
@media only screen and (max-width:1024px){

}
@media only screen and (max-width:470px){

}
